.best-market .content {
  width: 50%;
  margin: 0 auto;
}

.content .title-best-market {
  text-align: start;
  line-height: 50px;
  font-family: "Plain-Regular";
  font-size: 29px;
}

.content span {
  color: var(--second-color);
}

.content p {
  color: var(--p-color);
  margin: 22px 0;
  font-size: 18px;
  line-height: 28px;
}

.photo-market {
  width: 500px;
  height: 300px;
  margin: 20px auto;
}

.photo-market img {
  width: 100%;
  height: 100%;
}
